/* font familes */
@font-face {
    font-family: inter;
    src: url("./fonts/inter/static/Inter_18pt-Light.ttf");
  }
@font-face {
    font-family: inter_Dark;
    src: url("./fonts/inter/static/Inter_18pt-Dark.ttf");
  }
@font-face {
    font-family: silkFlower;
    src: url("./fonts/SilkFlowerDemo/Silk Flower.otf");
  }
@font-face{
    font-family:jakartaSans;
    src:url("./fonts/Plus_Jakarta_Sans/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  }
/* how high up naviagted sections are displayed on the site when clicking nav-items*/
:root{
    scroll-padding-top: 15vh;
}
body {
    margin: 0;
    font-family: inter;
    color: #3E3F5B;
    background-color: #ECE7E1;
}
.link:hover{
    color: #797979c7;
}
 /* green banner on top of site */
.nav-bar{
    display: flex;
    /* Nav bar visible while scrolling */
    position: fixed;
    width: 100%;
    height: 10vh;
    /* Other elements are behind nav bar */
    z-index: 1000;
    background-color: #2C3930;
    color: #FFFF;
}
a{
    /* so link attribute does not change style of text*/
    text-decoration:none; 
    color:inherit;
}
/* website title on left corner of site */
#top-title{
    display: flex;
    width: fit-content;
    padding-top: 4vh;
    padding-left: 4vw;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-style: italic;
}
.nav-items{
    /* div that holds the naviagtion links within banner */
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    padding-top: 4vh;
    padding-left: 50vw;  
}
/* fading in animation */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.welcome{
    display: block;
    width: 50vw;
    height: fit-content;
    padding-top: 15vh;
    padding-left: 11vw;
    font-family: silkFlower;
    font-size: 75px;
    animation: fadeIn 1s ease-out forwards;
}
.intro{
  position: absolute;
  width: 38vw;
  margin-top: 15vh;
  margin-left: 58vw;
  font-family: jakartaSans;
  font-size: 22px;
}
.image{
    position: absolute;
    display: flex;
    width:32vw ;
    height: 53vh;
    margin-top: 3vh;
    margin-left:9.58vw;
}
.button{
    /* shape */
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 54vh;
    height:6.5vh;
    width: 23vw;
    border-radius: 1vw;
    background-color: black;
    color: white;
    font-family: silkFlower;
    font-size: 4vh;
}
.button:hover{
    /* button becomes bigger on hover btn*/
    transform: scale(1.13);
}
/* work exp btn */
#one{
    position: absolute;
    margin-left: 6.4vw; 
}
/* projects btn */
#two{
    position: absolute;
    width: 15vw;
    margin-left: 32.4vw;
}
/* Leadership experience btn */
#three{
    position: absolute;
    width: 45vw;   
    margin-left: 50.4vw;
}
/* line */
hr{
    border: none;
    height: 0.16vh;
    width: 84vw;
    background-color: #3E3F5B;
}
footer{
    margin-left: 8.19vw;
    margin-top: 92vh;
    color: #3E3F5B;
    font-size: 45px;
    font-family: silkFlower;
}
.container{   
    /* spacing of the divs for work exp.*/
    display: flex;
    justify-content: center;
    width: 95vw;
    gap: 4.5vw;
    /* text */
    font-family:jakartaSans;
    color: black;
}
.square{
    margin-top: 9vh;
    height:62vh;
    width:38vw;
    border: none;
    background-color: #D9D9D9;
}
.jobTitle{
    font-weight: bold;
    margin-left: 6vw;
    margin-top: 4vh;
    width: 18vw;
}
.companyInfo{
    margin-top: 3vh;
    margin-left:4vw ;
    width:32vw;
    font-size: 1.7vh;
}
#date{
    display: block; 
    line-height: 1;
    color: #828282;
}
.jobDescription{
    margin-top: 6.5vh;
    margin-left:2vw ;
    width:30vw;
    font-weight:400;   
}
/* spacing between bulleted items */
li {
    margin-bottom: 1.5vh;
}
.logo{
    display: flex;
    gap: 34vw;
    position: absolute;
    margin-top: 3vh;
    margin-left: 1vw;
    height: 13vh;
    /* maintain ratio between height and width */
    aspect-ratio: 1/1;
}
.project{
    margin-top: 20vh;
}
.projectTitle{
    display: inline-block;
    margin-top: 7vh;
    margin-left: 25vw;
    margin-bottom: 5vh; 
    font-size: 1.5vw;
    color: black;
    font-family: inter_Dark;
    font-weight: bold;
}
.projectTitle:hover{
    color: #3d40a5;
}
#projectDate{
    margin-left: 13vw;
    font-size: 1.3vw;
    font-weight: bold;
}
.projectTitle:hover #projectDate{
    color: black;
}
.gameImage{
    width: 29vw;
    margin: auto;
    max-width: fit-content;
    display:block;
    aspect-ratio: 2.5/1;
    font-size: 1.3vw;
}
.gameImage:hover{
    transform: scale(1.2);
}
.projectDescription{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 35vw;
    line-height: 4vh;
    color: #828282;
    font-size: 1.3vw;
}
.LEA{
    margin-top: 20vh;
}
.LEA_Section{
    font-family: inter_Dark;
    margin-top: 6vh;
    height: 62vh;
}
.LEA_CU{
    display: flex;
    font-weight: bolder;
    gap: 53vw;
    margin-left: 8.19vw; 
}
.LEA_UP{
    display: flex;
    margin-top: 3vh;
    font-weight: bolder;
    gap: 65.5vw;
    margin-left: 8.19vw; 
}
.LEA_Role{
    display: flex;
    margin-top: 3vh;
    margin-left: 8.19vw;
    font-style: italic;
}
/* distance between role title and date */
.role_CM{
    gap: 27.5vw;
}
.role_FEC{
    gap: 20vw;
}
.role_UPA{
    gap: 24vw;
}
.LEA_Date{
    font-style: normal;
    font-size: 1.7vh;
}
.LEA_Description{
    margin-left: 8.19vw;
}
.Contact {
    display: inline-flex;
    align-items: center;
    background-color: white;
    width:100vw;
    height: 12vh;
    margin: 0%;
}

.Contact a {
    display: inline-flex;
    align-items: center;
}

.connectMessage:hover{
    color: #9377cb;
}
.linkedIn_Logo{
    height: 3vh;
    aspect-ratio: 1/1;
    margin-left: 2vw;
}
/* for smaller screens (phones) */
@media (max-width: 500px){
    #top-title{
        font-size: 3vw;
        padding-top: 5vh;
    }
    .nav-items{
        font-size: 2.4vw;
        flex-wrap: nowrap;
        padding-left: 15vw; 
        padding-top: 5vh;
    }
    .welcome{
        font-size: 8vw;
        padding-left: 3vw;
        width: 92vw;
    }
    .intro{
        font-size: 12px;
        width: 61vw;
        margin-top: 9vh;
        margin-left: 48vw;
       
    }
    .image{
        position: absolute;
        width:55vw ;
        height: 26vh; 
        right: 57vw;
    }
    .button{
        margin-top: 30vh;
        height:3vh;
        font-size: 3vw;
        border-radius: 2vw;
    }
    #one{
        margin-left: 3vw;
        width: 30vw;
    }
    #two{
        margin-left: 37vw;
    }
    #three{
        margin-left: 55vw;
        width: 58vw;
    }
    footer{
        margin-top: 40vh;
        font-size: 6vw;
    }
    .container{
        margin-left: 2vw;
        width:108vw;
        gap: 2vw;
    }
    .square{
       margin-top: 5vh;
       width: 80vw;
       height:68vh;
    }
    .jobTitle{
       margin-top: 2vh;
       margin-left: 15vw;
       width: fit-content;
       font-size: 3vw;
    }
    .companyInfo{
        font-size: 2.3vw;
        margin-right: 4vw;
        width: fit-content;
    }
    .jobDescription{
        margin-right: 5vw;
        margin-left: 0%;
        margin-top: 4vh;
        font-size: 2.6vw;
        width: fit-content;
    }
    li {
        margin-bottom: 1.8vh;
    }
    .logo{
        margin-top: 2vh;
        height: 7vh;
    }
    .project{
        margin-top: 12vh;
    }
    .projectTitle{
        margin-top: 3vh;
        margin-left: 8vw;
        margin-bottom: 4vh; 
        font-size: 2.4vw;
        width: 79vw;
    }
    #projectDate{
       margin-left: 0;
       font-size: 2vw;
    }
    .gameImage{
        width: 90vw;
        margin-left: 4vw;
    }
    .projectDescription{
        width: 90vw;
        font-size: 3.5vw;
    }
    .LEA{
        margin-top: 16vh;
    }
    .LEA_Section{
        font-size: 3vw;
        margin-top: 3vh;
    }
    .LEA_CU{
        width: 100vw;
        gap: 15vw;
    }
    .LEA_UP{
        width: 100vw;
        gap: 50vw;
    
    }
    .LEA_Role{
        display: flex;
        margin-top: 3vh;
        margin-left: 8.19vw;
        font-style: italic;
    }
    .role_CM{
        width: 100vw;
        gap: 56vw;
    }
    .role_FEC{
        width: 100vw;
        gap: 40vw;
    }
    .role_UPA{
        width: 100vw;
        gap: 48vw;
    }
    .LEA_Date{
        font-size: 2.5vw;
    }
    .Contact{
        margin-top: 16vh;
        width: 120vw;
        height: 8vh;
        gap: 2vw;
    }
    .linkedIn_Logo{
        height: 2vh;
    }
}