<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Front end of website portfolio">
        <title>Website Portfolio</title>
    </head>
    <body>
        <link rel="stylesheet" href="styles.css">
        <!-- navigation bar -->
        <div class="nav-bar"> 
            <span id="top-title">Christina Ou's Website</span>
            <div class="nav-items">
                <a href="#about" class="link">About</a>
                <a href="#workExperience" class="link">Experience</a>
                <a href="#projects" class="link">Projects</a>
                <a href="#leadershipAndActivities "class="link">Leadership and Activities </a>
            </div>
        </div>  
        <!-- about page  -->
            <span id="about" class="welcome"> Welcome to my website portfolio!</span> 
            <div>
                <img class="image" src="comp_image.png">
            </div>
            <div class="intro">
                    <span> Hello, I'm <span style="font-weight:bold;">Christina Ou.</span></span>
                    <p> I'm a recent Computer Science graduate from Fordham University with a passion for expanding my knowledge in technology and development through meaningful work.</p>
            </div>
        <!-- links to sections of the site -->
        <nav class="button" id="one"><a href="#workExperience"> Work Experience </a></nav>
        <nav class="button" id="two"><a href="#projects">Projects </a></nav>
        <nav class="button" id="three"><a href="#leadershipAndActivities">Leadership Experience and Activities</a></nav>
        
        <footer id="workExperience"> Work Experience </footer> 
        <hr>
        <container>
        <div>
        <img class="logo" src="LC_bid.png">
        </div>
        <div class="square">
            <p class="jobTitle">Intern</p>
            <p class="companyInfo"><i>Lincoln Square Business Improvement District (BID)</i> is a 501(c)3 not-for-profit that improves the quality of life in Lincoln Square, a world-famous cosmopolitan area on Manhattan’s Upper West Side, and the cultural and entertainment heart of the City.
            <span id= date>December 2022-Jan 2023</span></p>
            <ul class="jobDescription">
                 <li><i>Assisted the board of directors with various tasks such as updating content on their social media, website, and writing articles for the event page.</i></li>
                 <li><i>Participated in company-sponsored community events in collaboration with partner organizations by providing documentation through photography, videography and attendee headcount.</i></li>
            </ul>
        </div>
        <div>
        <img class="logo" src="JA_logo.png">
        </div>
        <div class="square">
            <p class="jobTitle">Security Intern and IT Help Desk Assistant</p>
            <p class="companyInfo"><i>Jennison  Associates</i> , a global investment management company that specializes in a select range of active equity and fixed income investment strategies.
            <span id= date>June 2024-Aug 2024 </span></p>
            <ul class="jobDescription">
                <li><i>Configured over 350 group policy objects in preparation of the Windows 11 rollout.</i></li>
                <li><i> Assisted service desk with end user requests such as creating and managing security groups and user accounts, software installation, and provided technological assistance during company events and troubleshooting.</i></li>
                <li><i>Created spreadsheets in Excel identifying technical ownership of over 200 workstations and servers with vulnerabilities, leveraging Jira Insight asset management system.</i></li>
            </ul>
        </div>
        </container>
        <footer id="projects" class="project"> Project </footer> 
        <hr>
        <a href="https://cugamedev.itch.io/alstroemeria" target="_blank">
        <p class="projectTitle">Video Game: Alstroemeria| Columbia University| Game Development Club  <span id="projectDate"> May 2022</span></p> 
        <!-- imagery of project, want it to be link -->
        <img class="gameImage" src="alstroemeria.png">
        </a>
        <ul class="projectDescription">
            <li>Collaborated with the illustrator and project leader to design game levels and ensured design corresponded with the game script.</li>
            <li>Utilized 2D tools through GitHub and Unity to execute designs, which contributed to the timely release of the game.</li>
        </ul>
        <footer id="leadershipAndActivities" class="LEA">Leadership Experience & Activities</footer>
        <hr>
        <div class="LEA_Section">
            <div class="LEA_CU">
                <span>Columbia University Game Development Club</span>
                <span>Manhattan, NY</span>
            </div>
            <div class="LEA_Role role_CM">
                <span>Club Member</span>
                <span class="LEA_Date"> March 2022-Aug 2024</span>
            </div>
            <ul class="LEA_Description">
            <li>Consistently communicated with team members to discuss and collaborate on video game ideas and projects.</li>
             <li>Actively participated within ongoing learning and skill development in game design through panel events, club discussions, and mentorship</li>
            </ul>
            
            <div class="LEA_UP">
                <span>Urban Plunge</span>
                <span>Manhattan/Bronx, NY </span>
            </div>
            <div class="LEA_Role role_FEC">
                <span>Formations and Educations Captain</span>
                <span class="LEA_Date">March 2023</span>
            </div>
            <ul class="LEA_Description">
                <li>Organized and facilitated ice-breakers, team-building exercises, and activities.</li>
                <li>Developed facilitation guides and reflection questions for first-year students as well as student leaders to enhance their learning and personal development journey.</li>
            </ul>
            <div class="LEA_Role role_UPA">
            <span>Urban Plunge Assistant</span>
            <span class="LEA_Date">Aug 2022-Aug 2024</span>
            </div>
            <ul class="LEA_Description">
                <li>Coordinated and led a group of 10 first-year students to volunteer sites around the Bronx and Manhattan.</li>
                <li>Initiated and led meaningful discussions on social justice, identity, and community.</li>
            </ul>
        </div>
    <a href="https://www.linkedin.com/in/christina-j-ou/" target="blank">
        <div class="Contact">
            <img class="linkedIn_Logo" src="LinkedIn.png ">
            <span class="connectMessage"> Connect with me on LinkedIn!</span>
        </div>
    </a>
    </body>
</html>
